{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Connexion{% endblock %}
{% block h1 %}Connexion{% endblock %}

{% block body %}
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Connexion</button>
    {% endbuttons %}
</form>
{% endblock %}